.app-shell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.app-view-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 375px;
  margin: 0 auto;
}
.app-view {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform;
  background: #fff;
  color: #3c3c3c;
}
.app-view-with-header {
  padding-top: 50px;
}
.app-view-with-footer {
  padding-bottom: 52px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  flex-basis: 100%;
}
.container.fluid {
  max-width: 100%;
  width: 100%;
}
.page-wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.layout {
  display: flex;
  flex-wrap: nowrap;
}
.layout.wrap {
  flex-wrap: wrap;
}
.layout.column {
  flex-direction: column;
}
.layout.row {
  flex-direction: row;
}
.ui-flex {
  display: flex;
}
.flex {
  flex: 1 1 auto;
}
.box-flex {
  display: flex;
}
.exposure {
  display: block;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-content-start {
  align-content: flex-start;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.pt1-2x {
  padding-top: 2px;
}
.mb2x {
  margin-bottom: 4px;
}
.mt2x {
  margin-top: 4px;
}
.mr1x {
  margin-right: 4px;
}
.max5 {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.pt32 {
  padding-top: 16px;
}
.w49 {
  width: 49%;
}

.image-icons {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.price {
  position: relative;
  padding-left: .5em;
  line-height: 1em;
}
.price:before {
  content: "\A5";
  position: absolute;
  left: 0;
  top: 0;
  font-size: .76em;
  text-decoration: none;
}

.border-top-1px {
  position: relative;
}

.border-top-1px:before {
  height: 1px;
  content: "";
  width: 100%;
  border-top: 1px solid #999;
  position: absolute;
  border-color: #f4f4f4;
  top: -10px;
  right: 0;
  transform: scaleY(.5);
}
.border-bottom-1px {
  position: relative;
}
.border-bottom-1px:before {
  height: 1px;
  content: "";
  width: 100%;
  border-top: 1px solid #999;
  position: absolute;
  top: 100%;
  right: 0;
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
}

.border-1px {
  position: relative;
}
.border-1px:before {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-radius: 0;
  border: 1px solid #999;
  transform: scale(.5);
  transform-origin: 0 0;
}

.btn {
  display: block;
  outline: 0;
  background: #ff6700;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
}

.ui-mask {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.pop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 375px; */
  background-color: #fff;
  color: #000;
  padding: 16px 16px 66px;
  z-index: 110;
  min-height: 250px;
  max-height: 480px;
  text-align: left;
}
.pop .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
}
.pop .close .icon-close {
  /* width: 20px;
  height: 20px;
  background-image: url(../assets/images/icon-close.png); */
  font-size: 20px;
  line-height: 20px;
  color: #bababa;
}

.ui-line {
  height: 10px;
  background: #f5f5f5;
  overflow: hidden;
  clear: both;
}