input {
  border: 0;
  outline: none;
  padding: 16px 0;
}

a, a:hover {
  text-decoration: none;
}

fieldset {
  border: 0;
}

ol, ul, p, dd, dl {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style-type: none;
}

button, input {
  overflow: visible;
}

/* 加载进度条 */
#nprogress .bar {
  background-color: rgba(237, 91, 0, 0.5);
}
#nprogress .peg {
  box-shadow: 0 0 10px rgba(237, 91, 0, 0.5), 0 0 5px rgba(237, 91, 0, 0.5);
}