.container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 52px;
  background: #efefef;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.container.fluid {
  max-width: 100%;
  width: 100%;
}
header {
  height: 50px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.fill-height {
  height: 100%;
}
.layout {
  display: flex;
  flex-wrap: nowrap;
}
header .header-btn {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 10px;
  color: #ddd;
  background: rgba(0,0,0,.6);
  border-radius: 50%;
}
header .iconfont {
  font-size: 20px;
  line-height: 32px;
}
header .placeholder {
  flex: 1;
}
.container .gallery-view {
  background: #ccc;
  width: 100%;
  height: 412px;
  position: relative;
}
.container .gallery-view .img {
  display: block;
  width: 375px;
  height: 412px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.container .overview {
  background: #fff;
  text-align: left;
  padding: 10px 16px 0;
}
.container .overview .goods-name {
  font-size: 18px;
  line-height: 28px;
}
.container .overview .goods-brief {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,.54);
}
.container .overview .goods-price {
  padding: 10px 0;
}
.container .overview .goods-price .cur-price {
  color: #ff6700;
  font-size: 24px;
  font-weight: 700;
}
.container .product-section {
  position: relative;
  padding: 10px 16px 0;
  background: #fff;
  border-top: 1px;
  text-align: left;
}
.border-top-1px {
  position: relative;
}

.border-top-1px:before {
  height: 1px;
  content: "";
  width: 100%;
  border-top: 1px solid #999;
  position: absolute;
  border-color: #f4f4f4;
  top: -10px;
  right: 0;
  transform: scaleY(.5);
}
.container .product-section .title {
  width: 41px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  line-height: 20px;
}
.pt1-2x {
  padding-top: 2px;
}
.container .product-section .act-icon {
  position: relative;
  padding-right: 10%;
  white-space: nowrap;
}
.mb2x {
  margin-bottom: 4px;
}
.container .product-section .act-icon .icon-desc {
  color: #f56600;
  border-radius: 1px;
  padding: 1.5px 2.5px 0.5px;
  margin: 0 0 0.5px;
  font-size: 8px;
}
.container .product-section .act-icon .icon-desc:before {
  border-color: #f56600;
}
.border-1px {
  position: relative;
}
.border-1px:before {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-radius: 0;
  border: 1px solid #999;
  transform: scale(.5);
  transform-origin: 0 0;
}
.container .product-section .act-icon .icon-title {
  margin-left: 4.17px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0,0,0,.87);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;
  transform: translate3d(0,-50%,0) rotate(135deg);
}
.container .product-section.padding-16-32 {
  padding: 8px 16px;
}
.mt2x {
  margin-top: 4px;
}
.container .product-section .info {
  font-size: 12px;
  color: rgba(0,0,0,.87);
  line-height: 20px;
  padding-right: 10px;
}
.container .product-section .service-policy-item {
  font-size: 12px;
  line-height: 20px;
  margin-right: 10px;
  flex: 0 1 auto;
}
.container .product-section .img-icon {
  height: 10px;
  width: auto;
}
.mr1x {
  margin-right: 4px;
}
.container .product-section .fsc1 {
  font-size: 10px;
  color: rgba(0,0,0,.54);
}
.container .comment-view {
  text-align: left;
  background: #fff;
}
.space-top {
  margin-top: 8px;
}
.container .comment-view .comment-info {
  padding: 16px 0;
  margin: 0 16px;
  font-size: 12px;
}
.border-bottom-1px {
  position: relative;
}
.container .comment-view .border-bottom-1px:before {
  border-color: #f4f4f4;
}
.border-bottom-1px:before {
  height: 1px;
  content: "";
  width: 100%;
  border-top: 1px solid #999;
  position: absolute;
  top: 100%;
  right: 0;
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
}
.container .comment-view .comment-count,
.container .comment-view .comment-degree span {
  color: rgba(0,0,0,.54);
}
.container .comment-view .comment-degree {
  color: #ff6700;
  text-align: right;
}
.entry-more {
  position: relative;
  padding-right: 20px!important;
}
.entry-more:after {
  content: " ";
  width: 7px;
  height: 7px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3.5px;
  transform: rotate(45deg);
}
.box-flex>*, .box-inline-flex>* {
  flex: 1 1 auto;
}

.comment-box {
  background: #fff;
  text-align: left;
}
.comment-box .item {
    padding: 12px 16px 16px;
}
.comment-box .item .comment-header .avatar-img-box {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}
.comment-box .item .comment-header .avatar-img-box img {
  width: 100%;
}
.comment-box .item .comment-header .name {
  font-size: 13px;
}
.comment-box .item .comment-header .comment-date {
  margin-top: 2.5px;
  color: rgba(0,0,0,.54);
  font-size: 11px;
}
.comment-box .item .comment-header .like {
  padding-left: 25px;
  background: transparent url(../assets/images/comment-like.png) no-repeat 0;
  background-size: auto 100%;
  width: 25px;
  height: 18px;
  line-height: 18px;
  color: #ff6700;
  font-size: 11px;
}
.comment-box .item .comment-content .text {
  padding: 16px 0;
  line-height: 20px;
  font-size: 13px;
}
.comment-box .item .comment-content .photos {
  margin-bottom: 6px;
}
.comment-box .item .comment-content .photos img {
  width: 83px;
  height: 83px;
  margin: 0 4px 4px 0;
}
.comment-box .item .comment-reply {
  padding: 8px;
  background: #f6f6f6;
}
.comment-box .item .comment-reply .comment-replay-item {
  overflow: hidden;
  padding: 2.5px 0;
}
.comment-box .item .comment-reply .comment-replay-item .text {
  font-size: 11px;
  line-height: 22px;
}
.comment-box .item .comment-reply .comment-replay-item.official .avatar {
  background: transparent url(../assets/images/milogo.png) no-repeat 50%;
  background-size: cover;
}
.comment-box .item .comment-reply .comment-replay-item .avatar {
  float: left;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}
.comment-box .item .comment-reply .comment-replay-item.official span {
  color: #ff6700;
}

.container .description-view .tab-header {
  height: 44px;
}
.container .description-view .tab-header-inner {
  height: 44px;
  background: #fff;
  will-change: scroll-position;
}
.container .description-view .tab-header-inner .flex.on {
  color: #ff6700;
}
.container .description-view .tab-header-inner .flex {
  display: block;
  font-size: 13px;
  width: 100%;
  border-right: 1px solid #f4f4f4;
}
.container .description-view .tab-view {
  background: #fff;
}
.container .description-view .tab-view section {
  overflow: hidden;
}
.container .description-view .tab-view img {
  display: block;
  width: 100%;
  vertical-align: middle;
}
.container .description-view .show-all-desc {
  display: block;
  background: #fff;
  line-height: 44px;
  font-size: 13px;
  color: #ff6700;
}

.recommend-box {
  background: #fff;
  text-align: left;
}
.recommend-box .recommend-title {
  line-height: 40px;
  padding: 0 16px;
  font-size: 15px;
}
.recommend-box .recommend-list {
  overflow: hidden;
}
.layout.row {
  flex-direction: row;
}
.align-content-start {
  align-content: flex-start;
}
.layout.wrap {
  flex-wrap: wrap;
}
.recommend-box .recommend-list .goods-item {
  flex: 0 1 49.5%;
  overflow: hidden;
}
.recommend-box .recommend-list .goods-item a {
  display: block;
}
.recommend-box .recommend-list .goods-img-box {
  position: relative;
}
.recommend-box .recommend-list .goods-img-box img {
  display: block;
  width: 185px;
  height: 185px;
}
.recommend-box .recommend-list .goods-info {
  padding: 9px 13px 11px;
}
.recommend-box .recommend-list .goods-name {
  font-size: 14px;
}
.recommend-box .recommend-list .goods-price {
  font-size: 16px;
  display: inline-block;
  color: #ff6700;
  margin-top: 5px;
}
.price {
  position: relative;
  padding-left: 10px;
  line-height: 16px;
}
.price:before {
  content: "\A5";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  text-decoration: none;
}
.recommend-box .recommend-list .goods-price del {
  font-size: 11px;
  margin-left: 5px;
  color: rgba(0,0,0,.54);
  text-decoration: line-through;
}
footer {
  height: 52px;
  background: #fff;
  box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);
  position: fixed;
  bottom: -52px;
  left: 0;
  right: 0;
  z-index: 100;
}
footer .footer-btn {
  display: block;
  text-decoration: none;
  width: 72px;
  color: rgba(0,0,0,.54);
  border-left: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
}
footer .footer-btn:first-child {
  border-left: none;
}
footer .iconfont {
  font-size: 20px;
}
footer .footer-btn span {
  font-size: 11px;
}
footer .action-box .buy-btn {
  height: 52px;
  line-height: 52px;
}
.btn {
  display: block;
  outline: 0;
  background: #ff6700;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
}

.ui-mask {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.pop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 375px; */
  background-color: #fff;
  color: #000;
  padding: 16px 16px 66px;
  z-index: 110;
  min-height: 250px;
  max-height: 480px;
  text-align: left;
}
.pop .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
}
.pop .close .icon-close {
  /* width: 20px;
  height: 20px;
  background-image: url(../assets/images/icon-close.png); */
  font-size: 20px;
  line-height: 20px;
  color: #bababa;
}
/* .image-icons {
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
} */
.pop .pro-info {
  min-height: 75px;
}
.pop .pro-info .product-img {
  position: relative;
  width: 104px;
  height: 104px;
  text-align: center;
  background: #fff;
}
.pop .pro-info .product-img img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.layout.column {
  flex-direction: column;
}
.pop .pro-info .product-desc {
  position: relative;
  width: 225px;
  margin: 16px 8px;
  text-align: left;
}
.pop .pro-info .product-desc .price {
  display: inline;
  color: #ff6700;
  font-size: 24px;
  line-height: 19px;
}
.pop .pro-info .product-desc .name {
  font-size: 14px;
  color: rgba(0,0,0,.87);
  line-height: 20px;
}
.pop .option-title {
  position: relative;
  padding-bottom: 8px;
  line-height: 12px;
  font-size: 12px;
  color: rgba(0,0,0,.87);
}
.max5 {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.pt32 {
  padding-top: 16px;
}
.pop .options-group {
  padding-bottom: 16px;
}
.pop .option-item.line {
  width: 100%;
  padding: 12px 16px !important;
}
.pop .option-item.on {
  color: #f56600;
}
.pop .option-item {
  height: 36px;
  line-height: 36px;
  min-width: 72px;
  box-sizing: border-box;
  padding: 0 4px;
  text-align: center;
  margin: 8px 0 0 8px;
  overflow: visible;
  font-size: 12px;
}
.pop .option-item:before {
  content: '';
  border-color: rgba(0,0,0,.15);
  border-radius: 2px;
}
.pop .option-item.on:before {
  border-color: #f56600;
}
.sdk_color .option-item p {
  width: 100%;
}
.pop .pd32 {
  padding: 16px 0;
}
.pop .xm-input-number {
  display: inline-block;
  border: 1px solid #eee;
}
/* .pop .xm-input-number .icon-line {
  background-image: url(../assets/images/icon-line.png);
} */
/* .pop .xm-input-number .icon-cross {
  background-image: url(../assets/images/icon-cross.png);
} */
/* .pop .xm-input-number .image-icons {
  opacity: .3;
  width: 30px;
  height: 30px;
  background-size: 15px 15px;
} */
.icon-move, .icon-add {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #857c7c;
}
.icon-move {
  color: #bababa;
}
.pop .xm-input-number .input-num {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  padding: 0 6px;
  text-align: center;
  font-size: 16px;
}
.pop .xm-input-number .input-add, .pop .xm-input-number .input-sub {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  vertical-align: middle;
  background-color: #fafafa;
  text-align: center;
}
.pop .xm-input-number .input-add.active, .pop .xm-input-number .input-sub.active {
  background-color: #f4f4f4;
}
.pop .service-url {
  display: inline-block;
  width: 14px;
  height: 14px;
  /* margin-left: 5px; */
  vertical-align: middle;
}
/* .pop .service-url img {
  width: 100%;
  height: auto;
} */
.pop .service-url i {
  font-size: 16px;
  left: 14px;
  color: #999;
}
.pop .options-group {
  padding-bottom: 16px;
}
.w49 {
  width: 49%;
}
.pop .options-agree {
  margin-top: 8px;
  line-height: 20px;
  text-align: left;
  font-size: 12px;
}
.pop .choose {
  display: inline-block;
  /* width: 30px; */
  padding: 0 4px 0 8px;
  height: 20px;
  position: relative;
  top: 3px;
}
.pop .choose i {
  font-size: 24px;
  line-height: 20px;
  color: #ddd;
}
/* .pop .choose.unchecked {
  background: url(../assets/images/check_normal.png) 50% 50% no-repeat;
  background-size: 20px 20px;
} */
.pop .options-agree .org {
  color: #f56600;
}
.pop .btn-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.border-top-1px {
  position: relative;
}
.border-top-1px:before {
  height: 1px;
  content: "";
  width: 100%;
  border-top: 1px solid #f4f4f4;
  position: absolute;
  top: -1px;
  right: 0;
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
}